# Version Control
.git/

# Environments & Dependencies
.venv/
.uv/
__pycache__/
*.pyc

# Local Data 
data/
*.csv
*.parquet

# Terraform 
.terraform/
*.tfstate*
*.tfvars

# Secrets & Config
.env
auth.json
*-credentials.json

# Documentation
README.md
notebooks/
.ipynb_checkpoints/