# --- Data Files ---
*.parquet
*.csv
*.gz

# --- Module 3 Specifics ---
gcs.json
.env

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

# --- Python ---
.venv/
__pycache__/