# Environments & Packages
.venv/
__pycache__/
.uv/
.python-version

# Data & Notebooks
data/
.ipynb_checkpoints/       
*/.ipynb_checkpoints/
*.csv
*.parquet

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.* 
.env
auth.json
*-auth.json
*-credentials.json

# System Files
.DS_Store

# Kestra
bin/
.kestra/
storage/
