# Environments & Packages
.venv/
__pycache__/
.uv/

# Data & Notebooks
data/
.ipynb_checkpoints/       
*/.ipynb_checkpoints/
*.csv
*.parquet

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
auth.json

# Credentials
.env
