# --- dbt specific ---
taxi_rides_ny/target/
taxi_rides_ny/dbt_packages/
taxi_rides_ny/logs/

# --- Terraform ---
terraform/.terraform/
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log

# --- uv / Python specific ---
.venv/
__pycache__/
*.py[cod]
.python-version

# --- Security / Credentials ---
*.json
profiles.yml
.env

# --- OS specific ---
.DS_Store